export BOLD_APP_NAME=total-trans

BASEDIR=$HOME/repo

export BOLD_APP_PATH=$BASEDIR/$BOLD_APP_NAME
# this should be relative to the project root without a leading slash (eg `public`, `htdocs`)
export APP_PUBLIC_FOLDER_NAME=public
