.divTable{
    display: table;
    width: 100%;
}
header {
  font-weight: bold;
}
header, .divRow{
    display: flex;
    height: 40px;
    border-bottom: .1rem solid #aeaeae;
    padding: 5px;
}
.divCell{
    flex: 1;
    align-items: center;
}

.divForm{
    display: block;
    width: 50%;
    margin: auto;
}
.divField{
    width: 100%;
    margin: 8px 0;
}
.divField label{
    width: 100%;
    margin: 0px 20px 0px 0px;
}
select, input[type='text'] {
    width: 100%;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 0 1px #d9d9d9 inset;
    padding: .5rem 0.5rem;
    border-radius: 5px;
    margin: 15px 0px 0px 0px;
}

input[type='button'] {
    width: 200px;
    height: 40px;
}

.cards{
    display: flex;
}

.cards .card{
    margin: 0px 20px 0px 0px;
}

.currency{
    display: inline-block;
    width: 100px;
}

.price {
    width: 300px !important;
}

.text-danger{
    color: #ef0a1ee3;
}

.conversion-rate{
    display: inline-block !important;
    width: 40px !important;
}

.navBar .navItem {
    margin: 10px;
    text-decoration: none;
}

.navBar .navItem a{
    text-decoration: none;
    color: blue;
    font-family: ui-sans-serif;
    font-size: 1rem;
}

.trips{
    font-size: 14px;
}

.trips .small-button{
    width: 100px;
    height: 20px;
}
